<!DOCTYPE html>
<html lang="ko">
    <head>
        <%- include('./head') %>
        <link rel="stylesheet" href="/stylesheet/share.css">
    </head>
    <body>
        <div class="container">
            <div class="fixed-ratio">
            <div class="preview" style="background-image:<%=backColor%>;">  
            </div>
            <div class="choose-box ">
                <div class="choose-mode" id="choose-color">
                    <div class="options-box">
                        <div class="column-box">
                            <label class="choose-title" ><%=title%></label>
                            <div class="paper-url" id="paper-url"><%=url%></div>
                            <div class="sharing-box">
                                <div onclick="alert('not support yet')" class="share-item copy-link">
                                    <i class="fa-solid fa-copy fa"></i>
                                </div>
                                <div onclick="alert('not support yet')" class="share-item share-kakao">
                                    <i class="fa-solid fa-share-from-square"></i>
                                </div>
                                <div onclick="location.href='/paper/<%=paperId%>'" class="share-item btn-draw">
                                    <i class="fa-solid fa-pen-to-square fa"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </body>
    <script src="/script/share.js"></script>
    <script src="/script/main.js"></script>
</html>